<html>
  <head></head>
  <body>

      <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
          <div style="margin:50px auto;width:70%;padding:20px 0">
              <div style="border-bottom:1px solid #eee">
                  <center>
                  <img src="https://i.ibb.co/dmNjJTs/ptq.png" alt="" style="width:100px; margin: auto;">
                  </center>
                  <br>
          
              </div>
                  <p style="font-size:1.1em">Hi, <%= firstname%></p>
                  <p>We are pleased to inform you that your application for Pitique has been successful. Welcome to Pitique!</p>
                  <p>Below are your account credentials:</p>
                  <br>
                  <p><b>Email:</b></p>
                  <h2 style="background: #41dbee;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"><%= email%></h2>
                  <p><b>Temporary Password:</b></p>
                  <h2 style="background: #41dbee; text-decoration: none; width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"><%= password%></h2>
                  <p style="font-size:0.9em;">Regards,<br />Pitique</p>
                  <hr style="border:none;border-top:1px solid #eee" />
              <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
                  <p>Pitique</p>
                  <p>Sanciangko St, Cebu City, 6000 Cebu</p>
                  <p>Philippines</p>
              </div>
          </div>
      </div>
      </body>
  </html>